{% extends 'base.html' %}

{% block head_title %}
  Cart
{% endblock head_title %}
 
{% block extra_head %}
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

 <style>
    td {
      text-align: center;
    }

    #title {
      margin-left: 5%;
      padding-top: 30px;
      color: #4C4C4C;
      font-weight: normal;
    }

    #links {
      color: #9d9d9d;
    }

    #links a{
      color: #9d9d9d;
      text-decoration: none;
    }

    #links a:hover{
      color:#C0EDA6;
    }

    #con {
      width:100%;
      height: 80px;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      color:#4C4C4C;
      padding-top: 60px
    }

    #con2 {
      align-items: center;
      justify-content: center;
      padding-top: 50px;
      margin-bottom: 60px;
    }

    #items {
      margin-top: 30px; 
      border: solid 1px #9d9d9d; 
      height: 140px; 
      align-items: center;
      border-radius: 80px;
      font-size: 18px;

    }

    #p {
      display:block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;  
      text-decoration: none;
      color: black;
    }
    #p:hover{
      color:#FFB085;
    }

    #remove {
      border:none !important;
      color: #4C4C4C;
    }

    #remove:hover {
      color:#FFB085;
      background-color: transparent !important;
  
    }

    #remove:focus, #remove:active {
      box-shadow: none !important;
      color: #FFB085;
      background-color: transparent !important;
      border-color:transparent !important;
    }

    #summary {
      font-size: 20px;
      margin-top: 20px;
    }

    #checkout {
      width: 120px;
    }

    #checkout:hover {
      background-color: #4C4C4C !important;
      border-color: transparent !important;
    }

    #checkout:focus, #checkout:active {
      box-shadow: none !important;
      background-color: transparent !important;
      border-color:  #4C4C4C !important;
      color: #4C4C4C !important;
    }

  </style>
{% endblock %}

{% block content %}
<div class="row" >
  <span  id="links">
    <a class="uppercase" href="{% url 'core:index' %}">Home > </a>
    <a href="#">Koszyk</a>
</span>
</div>
  <h2 id="title">Twój koszyk:</h2>
  <hr style="width:90%; margin-left:5% !important">
  {% if cart_item_list|length > 0 %}
  {% for cart_item in cart_item_list %}
  <div class="container" style="padding-top: 20px">
    <div class="row">
    <div class="col-9" style=" height:auto; padding-left: 40px">
      <div class="row text-center d-flex justify-content-around" id="items" >
        <div class="col" >
        <img src="{{ cart_item.item.image.url }}" alt="item_image" style="max-width: 60%;">
      </div>
      <div class="col-4">

        <a id="p"  data-toggle="tooltip2" data-placement="top" title="{{ cart_item.item.name }}, {{ cart_item.item.get_form_display }}" href="{% url 'core:detail' cart_item.item.pk %}">{{ cart_item.item.name }}, {{ cart_item.item.get_form_display }}</a>

      </div>
      <div class="col">
        <strong>{{ cart_item.n_pieces }} szt.</strong>
      </div>
      <div class="col">
        <p >            
          {% if cart_item.item.price_sale %}
          <del style="font-size: 16px;">{{ cart_item.item.price }} zł  </del>
            <strong style="padding-left:10px; font-size:18px;">{{ cart_item.item.price_sale }} zł</strong>
        {% else %}
         <strong> {{ cart_item.item.price }} zł </strong>
        {% endif %}</p>
      </div>

      <div class="col ">
        <form method="post" action="{% url 'core:cart-remove' cart_item.item.pk %}">
          {% csrf_token %}

        <button class="btn btn-outline-dark" id="remove" data-toggle="tooltip" data-placement="top" title="Usuń">

          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16" >
            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>

          </svg>

        </button>
        

  </form>
      </div>
      </div>
    </div>
    
  </div>
  </div>
 
  {% endfor %}
    <div class="row justify-content-end" style="margin-top: 30px">
      <div class="col-lg-3">
        <h3 style="color:#4C4C4C; ">Podsumowanie</h3>
        <hr>
        <div class="d-flex justify-content-between" id="summary">
        <p>Do zapłaty:</p>
        <strong>{{ total_price }} zł</strong>
      </div>
      <div class="d-flex justify-content-end" style="margin-top: 20px; margin-bottom: 30px">
      <a  href="{% url 'core:checkout' %}">
        <button class="btn btn-outline-dark" id="checkout">
        Dalej
      </button>
      </a>
      </div>
      </div>
      <div class="col-lg-1">
        
      </div>
    </div>
  {% else %}
    <div class="container" id="con">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16" style="padding-top:0px; margin-right: 15px">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg>
      Twój koszyk jest pusty! Dodaj do niego produkty, aby rozpocząć składanie zamówienia.
    </div>
    <div class="container d-flex justify-content-center" id="con2">
      <img src="/static/img/sad_koszyk.png" style="width: 20%; justify-self: center;">
    </div>


  {% endif %}

  {% block extra_scripts %}


  <script type="text/javascript">

    $(document).ready(function() {
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    });
  </script>
{% endblock extra_scripts %}
{% endblock content %}