{% extends "base.html" %}

{% block head_title %}
{{ category_name }}
{% endblock head_title %}

{% block extra_head %}

<style>

  .box {
    position: relative;
    height: 250px;
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
  }


  .box #foto {
    align-items: center;
  }

  #col {
    padding-left: 10px;
    padding-right: 10px;
    width: 250px;
    position: relative;

  }

  #col2 {
    width: 350px;
    position: relative;

  }

  #col:hover .zobacz,
  #col:hover .zobacz2 {
    bottom: 40%;
    opacity: 0.95;
    /* cursor: pointer; */
  }

  #foto {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100%;
    max-width: 250px;
    max-height: 250px;
    block-size: auto;
  }

  #foto2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100%;
    max-width: 250px;
    max-height: 250px;
    block-size: auto;
    filter: grayscale();
    opacity: 0.8;
  }


  .zobacz {
    height: 40px;
    width: 100%;
    background-color: #C0EDA6;
    color: white !important;
    opacity: 0;
    position: absolute;
    bottom: 30%;
    left: 0px;
    transition: 1s;
    font-size: 20px;
    border-radius: 30px;
    border: 1px white;
  }

  .zobacz2 {
    height: 40px;
    width: 100%;
    background-color: #9d9d9d;
    color: white !important;
    opacity: 0;
    position: absolute;
    bottom: 30%;
    left: 0px;
    transition: 1s;
    font-size: 20px;
    border-radius: 30px;
    border: 1px white;
  }

  .zobacz:focus .zobacz2:focus {
    outline: none;
  }

  #naz2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  }

  #nazwa {
    color: #9d9d9d;
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  #cena {
    color: #000000;
    /* font-weight: bold; */
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #C0EDA6;
  }

  #cena_nied {
    color: #9d9d9d;
    /* font-weight: bold; */
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #9d9d9d;
  }

 /* filtracja */

 #filter {
    margin-top: 15%;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: #D4D4D4;
    border-radius: 1px;
    border: 0px solid #000000;
  }

  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #C0EDA6;
    height: 20px;
    width: 20px;
    border-radius: 25px;
    background: #C0EDA6;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
  }
  input[type=range]:focus::-webkit-slider-thumb {
    box-shadow: none;
    background: #C0EDA6;
  }

  .filter {
    width: 60%;
    font-size: 16px;
    color: black !important;
    border: solid 2px #C0EDA6;
    border-radius: 30px;
    margin-top: 20px;
    padding: 2% 10% 2% 10%;
    align-self: center;
  }

  .filter:hover {
    background-color: #C0EDA6 !important;
    color: white !important;
  }


</style>
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-3">
      <div class="card px-2" id="filter">
        <h3 class="text-center" style="padding-top: 10px;">Filtruj produkty</h3>
        <hr>
        <h5 style="padding-left: 5%;">CENA:</h5>
        <div class="card-body">
          <form id="price-range-form" method="post" action="">
            {% csrf_token %}
            <label for="min-price" class="form-label">Cena minimalna: </label>
            <span id="min-price-txt" style="font-weight: bold;">{{ min_price }} zł</span>
            <input type="range" class="form-range" min="0" max='99' id="min-price" step="1" value="{{ min_price }}" name="min-price">
            <label for="max-price" class="form-label">Cena maksymalna: </label>
            <span id="max-price-txt" style="font-weight: bold;">{{ max_price }} zł</span>
            <input type="range" class="form-range" min='1' max="100" id="max-price" step="1" value="{{ max_price }}" name="max-price"
              style="color:#C0EDA6;">
            <button type="submit" class="filter" id="filterbutton">Filtruj</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-9">
      <div id="leki">
        {% if item_list %}
        <div class="d-flex justify-content-around p-3" style="background-color: white; flex-wrap: wrap;">
          {% for item in item_list %}
          {% if item.in_stock == 0 %}
          <div class="d-flex flex-column col-4" id="col">
            <div class="box">
              <div style="align-items: center;">
                <img id="foto2" src="{{ item.image.url }}" alt="article_image {{ item.name }}" />
              </div>
            </div>
            <div id="naz2">
              <p id="nazwa">{{ item.name }}</p>
            </div>
            <div style="display:block;">
              <p id="cena_nied">
                <strong id="niedostepny" style="font-size:18px; font-weight:normal">PRODUKT NIEDOSTĘPNY</strong>
              </p>
            </div>
            <form action="{% url 'core:detail' item.pk %}">
              <button type="submit" class="zobacz2">
                ZOBACZ OPIS <i class="fa-solid fa-magnifying-glass" style="padding-left: 5px;"></i>
              </button>
            </form>
          </div>

          {% else %}
          <div class="d-flex flex-column col-4" id="col">
            <div class="box">
              <div style="align-items: center;">
                <img id="foto" src="{{ item.image.url }}" alt="article_image {{ item.name }}" />
              </div>
            </div>
            <div id="naz2">
              <p id="nazwa">{{ item.name }}</p>
            </div>
            <div style="display:block;">
              <p id="cena">
                {% if item.price_sale %}
                <del style="font-size: 14px; color: #9d9d9d;">{{ item.price }} zł </del>
                <strong id="cena2" style="padding-left:10px; margin-right: 15%; font-size:18px; font-weight:normal">
                  {{item.price_sale}} zł</strong>

                {% else %}
                <strong id="cena2" style="font-size:18px; font-weight:normal">{{ item.price }} zł</strong>
                {% endif %}
              </p>
            </div>
            <form action="{% url 'core:detail' item.pk %}">
              <button type="submit" class="zobacz">
                ZOBACZ OPIS <i class="fa-solid fa-magnifying-glass" style="padding-left: 5px;"></i>
              </button>
            </form>
          </div>
          {% endif %}
          {% if forloop.counter0|divisibleby:2 and not forloop.first%}
        </div>
        <div class="d-flex justify-content-around p-3" style="background-color: white;">
          {% endif %}

          {% endfor %}

        </div>
      </div>

      {% endif %}



    </div>

  </div>
</div>
</div>

{% block extra_scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
let min_price = 0;
let max_price = 100;

$(document).on("input change", "#min-price", function() {
  var scrolled_value = $(this).val();
  var limiting_value = parseInt($('#max-price').val())-1;

  if (scrolled_value > limiting_value)
    $(this).val(limiting_value);
});

$(document).on("input change", "#max-price", function() {
  var scrolled_value2 = $(this).val();
  var limiting_value2 = parseInt($('#min-price').val())+1;

  if (scrolled_value2 < limiting_value2)
    $(this).val(limiting_value2);
});

$('#min-price').on("change mousemove", function () {
      min_price = parseInt($('#min-price').val());
      $('#min-price-txt').text(min_price + ' zł');
});

$('#max-price').on("change mousemove", function () {
      max_price = parseInt($('#max-price').val());
      $('#max-price-txt').text(max_price + ' zł');
});


</script>
{% endblock extra_scripts %}
{% endblock %}
