{% extends 'base.html' %}

{% block head_title %}
Checkout
{% endblock head_title %}

{% block extra_head %}
<style>
  h1 {
    font-size: 40px !important;
    padding: 20px 0px 0px 100px;
  }

  
  legend {
    padding: 20px 0px 30px 50px !important;
  }

  .adres {
    padding-left: 200px !important;
  }

  #big {
    width: 90% !important;
    /* padding-left: 40px !important; */
    position: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  #small {
    position: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  label {
    font-size: 20px;
    padding-right: 10px;
  }

  .adres input {
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
  }

  th {
    text-align: right;
  }

  
  #guzik {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 40px
  }

  #guzik:hover {
    background-color: #4C4C4C !important;
    border-color: transparent !important;
  }

  #guzik:focus,
  #guzik:active {
    box-shadow: none !important;
    background-color: transparent !important;
    border-color: #4C4C4C !important;
    color: #4C4C4C !important;
  }
</style>
{% endblock %}

{% block content %}
<h1 class="display-3">Podsumowanie:</h1>
<hr style="width:90%; margin-left:5% !important">

{% if cart_item_list|length > 0 %}

<div class="row justify-content-center" style="margin: auto;">
  {% for cart_item in cart_item_list %}
  <table id="big" class="table align-items-center">
    <tbody>
      <tr>
        <td style="width: 20%; text-align: center; font-weight: bold ">{{ cart_item.item.name }}</td>
        <td style="width: 20%; text-align: center">
          <img src="{{ cart_item.item.image.url }}" alt="item_image" style="max-width: 50%;">
        </td>
        <td style="width: 20%; text-align: center">{{ cart_item.item.get_form_display }}</td>
        <td style="width: 20%; text-align: center">sztuk: {{ cart_item.n_pieces }}</td>
        <td style="width: 10%; text-align: center">
          {% if cart_item.item.price_sale %}
          <del>{{ cart_item.item.price }} zł</del>
          <br>
          <p>{{ cart_item.item.price_sale }} zł
          </p>
          {% else %}
          <p>{{ cart_item.item.price }} zł</p>
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>

  {% endfor %}
</div>

<div class="row justify-content-end">
  <div class="col-lg-6">
    <h3 style="text-align: end;">Do zapłaty: {{ total_price }} zł</h3>
  </div>
</div>
<div class="row justify-content-around">
  <form class="col" action="" method="post">
    {% csrf_token %}
    <div class="row justify-content-around" style="margin: auto;">
      <div class="col-lg-4 d-flex justify-content-center">
        {% if not user.customer %}
        <fieldset>
          <legend>Proszę podać dane klienta</legend>
          <table>
            {{ customerForm.as_table }}
          </table>
        </fieldset>
      </div>
      {% endif %}
      <div class="col-lg-4 d-flex justify-content-center">
        <fieldset>
          <legend>Proszę podać adres dostawy</legend>
          <table>
            {{ form.as_table }}
          </table>
        </fieldset>
      </div>
      <div class="col-lg-4 d-flex justify-content-center">
          <fieldset>
            <legend>Proszę podać metody dostawy i płatności</legend>
            <table>
              {{ orderMethodsForm.as_table }}
            </table>
          </fieldset>
        </div>
      </div>
    <div class="d-flex justify-content-end">
      <input class="btn btn-outline-dark" type="submit" value="Przejdź do płatności" id="guzik">
    </div>
  </form>
</div>
{% else %}
<h1>Koszyk jest pusty!</h1>
{% endif %}
{% endblock content %}