{% extends 'base.html' %}

{% block head_title %}
Checkout
{% endblock head_title %}

{% block extra_head %}
<style>
  h1{
    font-size: 40px !important;
    padding: 20px 0px 0px 100px;
  }
  legend{
    padding: 20px 0px 30px 50px !important;
  }
  .adres{
    padding-left: 200px !important;
  }
  #big{
    width: 90% !important;
    padding-left: 40px !important;
    position: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  #small{
    position: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  label{
    font-size: 20px;
    padding-right: 10px;
  }
  #id_city{
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
  }
  #id_country{
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
  }
  #id_postal_code{
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
  }
  #id_street{
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
  }
  #id_street_number{
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
  }
  #id_local_number{
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
  }
  th{
    text-align: right;
  }
#guzik{
  position: center !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
</style>
{% endblock %}

{% block content %}

<h1 class="display-3">Podsumowanie:</h1>
<hr style="width:90%; margin-left:5% !important">

{% if cart_item_list|length > 0 %}
{% for cart_item in cart_item_list %}

<div class="row">
  <table id="big" class="table align-items-center">
    <tbody>
    <tr>
      <td style="width: 20%; text-align: center; font-weight: bold ">{{ cart_item.item.name }}</td>
      <td style="width: 20%; text-align: center">
        <img src="{{ cart_item.item.image.url }}" alt="item_image" style="max-width: 50%;">
      </td>
      <td style="width: 20%; text-align: center">{{ cart_item.item.get_form_display }}</td>
      <td style="width: 20%; text-align: center">sztuk: {{ cart_item.n_pieces }}</td>
      <td style="width: 10%; text-align: center">
        {% if cart_item.item.price_sale %}
        <del>{{ cart_item.item.price }}</del>
        <br>
        <p><strong style="font-size: 1.2em;">{{ cart_item.item.price_sale }}
        </strong><span class="badge bg-primary">sale</span>
        </p>
        {% else %}
        {{ cart_item.item.price }}
        {% endif %}
      </td>
    </tr>
    </tbody>
  </table>

{% endfor %}

<div class="row justify-content-end">
  <div class="col-lg-2">
    <h3>Do zapłaty: {{ total_price }} zł</h3>
  </div>
  <div class="row">
    <form action="" method="post">
      <fieldset>
        <legend>Proszę podać adres dostawy</legend>
        {% csrf_token %}
        <table id="small" class="adres">
          {{ form.as_table }}
        </table>
        <input id="guzik" class="btn btn-success" type="submit" value="Przejdź do płatności">
      </fieldset>
    </form>
  </div>
</div>
</div>



{% else %}
<h1>Koszyk jest pusty!</h1>
{% endif %}

{% endblock content %}