{% extends 'base.html' %}

{% block head_title %}
Płatność
{% endblock head_title %}

{% block extra_head %}
<style>
h1{
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
}
h2{
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}
h3{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}
h4{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}



</style>
{% endblock %}

{% block content %}

<h1>Dziękujemy za skorzystanie z naszej apteki!</h1>
<h2> Aby zamówienie zostało zrealizowane, prosimy o jak najszybsze wykonanie przelewu na poniższe dane:</h2>
<h3>Odbiorca:e-Apteka Spółka prywatna zespół PAINT</h3>
<h4>Numer konta: 25 1256 6695 4587 2366 2210 0256</h4>

{% endblock content %}





